[run]
source = killua
omit =
    killua/tests/*
    killua/download.py
    killua/migrate.py

[report]
fail_under = 70
show_missing = True
skip_empty = True
precision = 1
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.:

[html]
directory = htmlcov

[xml]
output = coverage.xml
