aiohttp==3.7.4.post0
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
braceexpand==0.1.7
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
deep-translator==1.6.0
discord-ext-ipc==2.1.1
discord.py==2.0.0a3575+g45d498c1
dnspython==2.1.0
idna==3.3
import-expression==1.1.4
jishaku==2.3.2
multidict==5.2.0
Pillow==8.4.0
pymongo==4.0.1
pypxl==0.2.3
requests==2.26.0
six==1.16.0
soupsieve==2.3.1
topggpy==1.4.0
typing_extensions==4.0.1
urllib3==1.26.7
yarl==1.7.2
